a {
  text-decoration: none;
}

.delete-link,.detail-view{
  width: 30%;
}

.ticketName {
  visibility: hidden;
  position: relative;
  top: -20px;
  width: 100%;
}
.ticket-holder{
    width: 100%;
    height: 30px;
    display: flex;
}

.title-holder{
    width: 100%;
}

.input-title-holder{
  width: 100%;
}

button{
  width: 30%;
}