<div class="container" style="margin-top: 2%;" *ngIf="ticket">
    <input class="title-holder" value="{{ticket.title}}" readonly>
    <hr>
    <div class ="Detail">
        <div class="tasks-holder">
            <span style="font-size: 30px">Tasks</span>
            <hr>
            <ul *ngFor="let task of ticket.tasks">
                <li>{{task.title}}</li>
            </ul>
            <div>
                <button (click)="addTaskInit($event)" >Add new task</button>
                <input class="task-input" value="Add new Task" (focus) ="onFocus($event)" (focusout) ="onOutFocus($event)"  (keyup.enter)="onAddTask(ticket.ticketId,$event)">
            </div>
        </div>
        <br>
        <div class= "description-holder">
            <span style="font-size: 30px">Description</span>
            <hr>
            <textarea class="description">{{ticket.description}}</textarea>
        </div>
    </div>
    <br>
    <div class ="footer">
        <button style="float: Left" (click) = "onSave()">Save</button>
        <button style="float: Right">Back to board</button>
    </div>
</div>